body, html{
    background: rebeccapurple;
}

.div-img {
    width: 100px;
    height: 100px;
    background: url('../image/img1.jpeg');
    background-size: 100%;
}

img {
    width: 100px;
    height: 100px;
}